## Материалы для улья

![fotka]({{image_folder}}/fotka-ulia.png)

Из какого материала изготавливают 
ульи? Лучшей древесиной для 
изготовления ульев принято считать 
такие породы деревьев, как сосна, 
ель, пихта, кедр,липа, осина. 
Используемая древесина должна быть
выдержана (влажность не более 15%).


