{%if is_big_document == true%}

#### Материалы для постройки улья

{%else%}

## Материалы для постройки улья

{%endif%}




{%if is_big_document == true%}

#### Как собирать мед

{%else%}

## Как собирать мед

{%endif%}




{%if is_big_document == true%}

#### Какую форму купить?

{%else%}

## Какую форму купить?

{%endif%}




{%if is_big_document == true%}

#### Кто пчелок уважает?

{%else%}

## Кто пчелок уважает?

{%endif%}


Можете посмотреть сколько кода для этой страницы в файле **pchelovod-guide.jinja**.