## Что делать, если укусила пчела?

в этом документе мы покажем, что нет ничего страшного в укусе пчелы.

{%if customer == "kopatych"%}

**не переживайте, все нормально, он всегда так говорит**

Это сработал блок для Копатыча, потому что метаданных мы указали:

```
---
customer: "kopatych"
---
```

{%else%}

**Тоже не переживайте, в жизни так бывает.**

Это сработал блок для Ежика, потому что метаданных мы указали:

```
---
customer: "eshik"
---
```

{%endif%}

