{{big_doc_prefix}}## Материалы для постройки улья


{{big_doc_prefix}}## Как собирать мед


{{big_doc_prefix}}## Какую форму купить?


{{big_doc_prefix}}## Кто пчелок уважает?

Здесь кода сильно меньше, поэтому его очень легко показать. Сравните его с альтернативным вариантом через условия.

{%raw%}

```
{{big_doc_prefix}}## Материалы для постройки улья


{{big_doc_prefix}}## Как собирать мед


{{big_doc_prefix}}## Какую форму купить?


{{big_doc_prefix}}## Кто пчелок уважает?
```

{%endraw%}